.character{

  height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 300px;
}

.img-character{
  height: 400px;
  width: 320px;
  object-fit:cover;

}

.marco-character{
  position: absolute;
  height: 750px;
  width: 650px;
  left: -172px;
  top: -20px;
}

.info{
position: relative;
bottom: -120px;
text-align: center;
display: flex;
flex-direction: column;
gap: 10px;
color: var(--color-dark-red);
}